@font-face {
  font-family: Cabinet;
  src: url('./CabinetGrotesk-Regular.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin: 0;
  font-family: Cabinet;
}
svg {
  overflow: visible;
  width: 100vw;
  height: 100vh;
}
.blob-path {
  fill: #627771;
  stroke: #fff;
  stroke-width: 20;
  transform: translate(50px, 50px);
}


.path-text {
  font-size: 80px;
  fill: #627771;
  transform: rotate(0deg) scale(1.12);
  transform-origin: center;
}


.path-text-2 {
  font-size: 60px;
  fill: #627771;
  transform: rotate(240deg) scale(1.12);
  transform-origin: center;
}

.button{
  position: fixed;
  bottom: 14px;
  right: 14px;
  background: #627771;;
  border: 2px solid #627771;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 2px 10px;
}

@media print{
  .button{
    display: none;
  }
}